{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"plugins": [
		"@typescript-eslint",
		"simple-import-sort",
		"prettier",
		"eslint-plugin-tsdoc"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/recommended",
		"plugin:import/typescript",
		"prettier"
	],
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [
					".js",
					".jsx",
					".ts",
					".tsx"
				]
			}
		}
	},
	"rules": {
		"@typescript-eslint/no-explicit-any": "off",
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error",
		"tsdoc/syntax": "warn",
		"prettier/prettier": 2
	},
	"env": {
		"browser": true,
		"node": true
	}
}
