# This workflow will do a clean install of node dependencies, run tests across different versions of node, and build it
name: test

on:
  push:
    branches-ignore: [ "master", "develop" ]
  pull_request:
    branches: [ "master", "develop"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js 24
      uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'npm'
    - name: Installing dependencies
      run: npm ci
    - name: Running linting and tests
      run: npm run test
    - name: Building package
      run: npm run build
